<h1>New proyecto</h1>

<div  id="search">
  <%= form_tag url_for(:action => 'consultar'), {:method => 'get', :id => "formas_search", :remote=> true} do    %>
      <%= text_field_tag :titulo, params[:titulo] , :placeholder => 'titulo ?'%>
      <button class="tip-right"><%= submit_tag "Buscar" %></button>
  <% end %>
</div>

<div id="div_listado_proyectos" name="listado" >
      algo aqui
</div>

<%= link_to 'Back', proyectos_path %>
