<h1>Listado de  historias</h1>

<div id="div_listado_historias" name="listado" >
  <%= render 'historias/listado_historias'%>
</div>

<br />


<%= link_to 'Nueva Historia', new_historia_path, :class=>'btn btn-success' %>
